# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.pdb
*.whl

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Environment
.env
.venv
env/
venv/
ENV/
mlenv/

# Data
*.csv
*.tsv
*.dat
*.npz
*.h5
*.db

# OS
.DS_Store
Thumbs.db
